.updateButton {
    padding: 0% 5%  !important;
    text-align: right  !important;
}

.form {
    display : flex;
    flex-wrap :wrap;
}

button {
    margin-right: 10%;
}

h1 {
    margin-bottom: 0% im !important;
}