.search-page{
    display: flex;
    flex-direction: column;
    height: 30vh;
}
.search-bar {
    width: 100%;
    padding: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
.ant-input-number {
    width: 60%;
}
.ant-space {
    width: 50%;
}

.loading-table {
    font-size: 12vh;
    text-align: center;
    padding: 10% 45%;
}

#name {
    text-align: center;
    margin: 0%;
}

.ant-table-tbody > tr > td{
    padding: 16px 12px;
}